@model ML.Materia
@{
    ViewBag.Title = "CargaMasiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CargaMasiva</h2>
@*file Upload
    lbl
    txt*@

<div class="container">
    <div class="row">

    </div>

</div>
@using (Html.BeginForm("CargaMasiva", "MateriaCargaMasiva", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="col-md-3">
    <input type="file" id="fuMaterias" name="ExcelMaterias" />
</div>
<div class="col-md-1">
    <input type="submit" value="Procesar" class="btn btn-info" />
</div>
}